html {
    font-size: 21px;
}

body {
    background-color: white;
}

.container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(206, 209, 208,0.6);
    width: 600px;
    height: 400px;
    border: 2px solid gray;
    border-radius: 6px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,.2);
}

.head {
    display: flex;
    background-color: rgb(90, 86, 86,0.6);
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

button {
    width: 40px;
    height: 40px;
}

/*Liste ve input*/

input {
    border-top: none;
    border-left: none;
    width: 100%;
    padding: 12px 20px;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(39, 38, 38);
    transition: 0.5s;
}

    input:focus {
        outline: none;
        background-color: rgb(235, 223, 223);
    }

li {
    font-family: sans-serif;
    font-size: 0.8em;
    width: 80%;
    height: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 51, 68,0.7);
    margin-top: 17px;
    margin-right: 15px;
    display: flexbox;
    border: 0px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px 10px gold;
    padding: 7px;
}



@media (max-width:700px) {
    .container {
        width: 100%;
    }

    .head {
        width: 100%;
        height: 40px;
    }
}

@media (max-width:500px) {
    .container {
        width: 100%;
    }

    .head {
        width: 100%;
        height: 40px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
