@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="Home/Weather">Weather</a>
    <a href="Home/ToDoApp">To Do App</a>
    <a href="Home/BMICalculator">BMI Calculator</a>
    <a href="Home/RandomQuotes">Random Quote Generator</a>
</div>
