<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quotes</title>
    <link rel="stylesheet" href="~/css/random.css">
    
    <script src="https://kit.fontawesome.com/1b4be7268f.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">

        <div class="quote-box">


            <p class="text" id="choosenQuote">
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores a
                laboriosam quibusdam nesciunt rem hic placeat? Labore quas voluptates, atque est, vero necessitatibus
                dolore fugiat quam asperiores dolorem eius maxime!"
            </p>
            <p class="text" id="source">-Writer</p>
        </div>
        <br>

        <div class="buttons">
            <button id="quoteBtn">NEW QUOTE</button>
            <button id="twitterBtn"><i class="fa-brands fa-twitter"></i></button>
        </div>
    </div>

    <script src="~/js/random.js"></script>
</body>

</html>