<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/1b4be7268f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/toDoApp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>

    <div class="container">

        <div class="head">
            <input type="text" id="addTask" placeholder="To Do List">
            <button id="add"><i class="fa-solid fa-circle-plus"></i></button>
            <button id="del"><i class="fa-solid fa-trash"></i></button>
        </div>

        <div class="task-container">

            <ol class="tasks" style="overflow-y:auto;max-height: 300px;">
            </ol>
        </div>

    </div>


    <script src="~/js/toDoApp.js"></script>
</body>

</html>